@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.centerLoader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}