.root {
    position: relative;
    overflow: hidden;
    display: flex;
    background: rgba(0,0,0,0.9);
    .hiddenVideo{
        display: flex;
        justify-content: center;
        align-items: center;
        video{
            object-fit: cover;
            width: 100%;
            border-radius: 100% 30% 100% 20%;
            height: 100vh;
            transition: 1s;
            box-shadow:  0 0 10px white;
        }
        .hiddenButton{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 2;
            button{
                width: 200px;
                padding: 15px 0;
                background: none;
                color: white;
                border:2px solid black;
                cursor: pointer;
                font-weight: bold;
                font-size: 18px;
                overflow: hidden;
                position: relative;
                box-shadow:  0 0 3px whitex;
                transition: 0.5s;
                text-shadow: 0 0 3px black;
                         
            }
        }   
    }
   
    .shadow{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
    }

    .bannerContent{
        h1{
            color: white;
            width: 100%;
            position: absolute;
            left: 5%;
            text-transform: uppercase;
            top: 5%;
            text-shadow: 0 0 10px black;
            font-size: 50px;
        }
        button{
            position: absolute;
            right: 5%;
            bottom: 10%;
            border:0;
            padding: 20px 0;
            width: 150px;
            transition: 0.5s;
            cursor: pointer;
            font-size:20px;
            &:hover{
                
                border-radius: 540% 20% 540% 20%;
            }
        }
    }
}
